<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/gamewindow.css" type="text/css" />
    </head>
    <body>
        <script type="importmap">
            {
                "imports": {
                    "three": "/threejs/build/three.module.js",
                    "three/addons/": "/threejs/addons/"
                }
            }
        </script>
        <script>
            const boardSize = "<%=board_size%>";
            let hex_mode = false;
            if ("<%=hex_mode%>"){
                hex_mode = true;
            }
        </script>
        <script type="module" src="/threejs/GameBoard_THREE.js"></script>
    </body>
</html>
