<!doctype html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
        <title>Game menu</title>
    </head>
    <body>
        <div id="menus">
            <h1 id="title">
                <span id="title_start">CONNECT</span>-<span id="title_end"
                    >HEX</span
                >
            </h1>
            <p style="color: red" id="error_message"><%=error%></p>
            <div id="menu_buttons">
                <button id="btn_local" class="custom_button">Local play</button>
                <button id="btn_online_play" class="custom_button">
                    Online play
                </button>
                <button id="btn_ai" class="custom_button">
                    Play against computer
                </button>
            </div>
            <form
                action="/game"
                name="popup_local"
                class="option_menu"
                style="display: none"
                method="POST"
            >
                <button class="back_button" type="button">Back</button>
                <div>
                    <label for="board_size">Board size:</label>
                    <input
                        type="number"
                        id="board_size"
                        name="board_size"
                        value="7"
                        max="15"
                        min="1"
                    /><br />
                    <label for="hex_mode">Play basic hex:</label>
                    <input
                        type="checkbox"
                        id="hex_mode"
                        name="hex_mode"
                    /><br />
                </div>
                <div>
                    <input
                        type="submit"
                        value="Play"
                        class="custom_button smaller_button"
                        height="5vw"
                        width="20vw"
                    /><br />
                </div>
            </form>
            <form
                name="popup_online"
                style="display: none"
                method="POST"
                class="option_menu"
            >
                <button class="back_button" type="button">Back</button>
                <div>
                    <label for="board_size_online">Board size:</label>
                    <input
                        type="number"
                        id="board_size_online"
                        name="board_size_online"
                        value="7"
                        max="15"
                        min="1"
                    /><br />
                    <label for="hex_mode_online">Play basic hex:</label>
                    <input
                        type="checkbox"
                        id="hex_mode_online"
                        name="hex_mode_online"
                    /><br />
                </div>
                <div>
                    <label for="player_order">Who should go first?</label><br />
                    <input
                        type="radio"
                        id="me_first"
                        name="player_order"
                        value="me"
                        checked="checked"
                    />
                    <label for="me_first">I will go first!</label><br />
                    <input
                        type="radio"
                        id="opponent_first"
                        name="player_order"
                        value="opponent"
                    />
                    <label for="opponent_first"
                        >My opponent will go first!</label
                    ><br />
                    <input
                        type="radio"
                        id="random"
                        name="player_order"
                        value="random"
                    />
                    <label for="random">Random</label>
                    <br />
                </div>
                <div>
                    <label for="create_game">Create a new game room:</label
                    ><br />
                    <input
                        type="button"
                        id="create_game"
                        value="Create"
                        onclick="createGame()"
                        class="custom_button smaller_button"
                    /><br />
                </div>
                <div><p style="padding: 0; margin: 0">OR</p></div>

                <div>
                    <label for="game_id">Join a game room:</label>
                    <input type="text" id="game_id" name="game_id" /><br />
                    <input
                        type="button"
                        id="join_game"
                        value="Join"
                        onclick="joinGame()"
                        class="custom_button smaller_button"
                    /><br />
                </div>
            </form>
            <form
                action="/game/ai"
                name="popup_ai"
                style="display: none"
                method="POST"
                class="option_menu"
            >
                <button class="back_button" type="button">Back</button>

                <div>
                    <label for="board_size_ai">Board size:</label>
                    <input
                        type="number"
                        id="board_size_ai"
                        name="board_size_ai"
                        value="7"
                        max="15"
                        min="1"
                    /><br />
                    <label for="hex_mode_ai">Play basic hex:</label>
                    <input
                        type="checkbox"
                        id="hex_mode_ai"
                        name="hex_mode_ai"
                    /><br />
                </div>
                <div>
                    <label for="player_order_ai">Who should go first?</label
                    ><br />
                    <input
                        type="radio"
                        id="me_first_ai"
                        name="player_order_ai"
                        value="me"
                        checked="checked"
                    />
                    <label for="me_first_ai">I will go first!</label><br />
                    <input
                        type="radio"
                        id="opponent_first_ai"
                        name="player_order_ai"
                        value="opponent"
                    />
                    <label for="opponent_first_ai">The AI will go first!</label
                    ><br />
                    <input
                        type="radio"
                        id="random_ai"
                        name="player_order_ai"
                        value="random"
                    />
                    <label for="random_ai">Random</label>
                    <br />
                </div>
                <div>
                    <label for="model"
                        >Which model would you like to challenge?</label
                    ><br />
                    <input
                        type="radio"
                        id="random_model"
                        name="model"
                        value="random"
                        checked="checked"
                    />
                    <label for="random_model">Random model</label><br />
                    <input
                        type="radio"
                        id="greedy_model"
                        name="model"
                        value="greedy"
                    />
                    <label for="greedy_model">Greedy model</label><br />
                    <input
                        type="radio"
                        id="stohastic_greedy_model"
                        name="model"
                        value="stohastic_greedy"
                    />
                    <label for="stohastic_greedy_model"
                        >Stohastic greedy model</label
                    ><br /><input
                        type="radio"
                        id="erdos_selfidge"
                        name="model"
                        value="greedy_erdos-selfridge"
                    />
                    <label for="greedy_erdos-selfridge"
                        >Greedy model using Erdos-Selfridge</label
                    ><br />
                    <input
                        type="radio"
                        id="odd_empty_right"
                        name="model"
                        value="odd_empty_right"
                    />
                    <label for="odd_empty_right">ODDEMPTYRIGHT</label><br />
                    <input
                        type="radio"
                        id="odd_empty_left"
                        name="model"
                        value="odd_empty_left"
                    />
                    <label for="odd_empty_left">ODDEMPTYLEFT</label>
                </div>
                <div>
                    <input
                        type="submit"
                        id="play_ai"
                        value="Play"
                        class="custom_button smaller_button"
                    /><br />
                </div>
            </form>
            <div id="waiting_area"></div>
        </div>
    </body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script src="/models/client.js"></script>
<script>
    const btn_local = document.getElementById("btn_local");
    const btn_online_play = document.getElementById("btn_online_play");
    const btn_ai = document.getElementById("btn_ai");
    const btn_back = document.querySelectorAll(".back_button");
    const error_message = document.getElementById("error_message");

    btn_local.addEventListener("click", () => {
        document.getElementById("menu_buttons").style.display = "none";
        document.forms["popup_local"].style.display = "block";
        error_message.innerHTML = null;
    });
    btn_online_play.addEventListener("click", () => {
        document.getElementById("menu_buttons").style.display = "none";
        document.forms["popup_online"].style.display = "block";
        error_message.innerHTML = null;
    });
    btn_ai.addEventListener("click", () => {
        document.getElementById("menu_buttons").style.display = "none";
        document.forms["popup_ai"].style.display = "block";
        error_message.innerHTML = null;
    });
    btn_back.forEach((button) => {
        button.addEventListener("click", () => {
            document.forms["popup_local"].style.display = "none";
            document.forms["popup_online"].style.display = "none";
            document.forms["popup_ai"].style.display = "none";
            document.getElementById("menu_buttons").style.display = "flex";
        });
    });
</script>
